body {
    background:  url("../assets/home/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 0px;
}

.catchphrase{
    color: #FFFFFE;
    margin-top: 44px;
    font-family: helvetica;
}


#search_div {
    z-index: 1;
    min-width: 200px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    top: 50px;
}


.mainview_title {
    position: relative;
    font-size: 200px;
    text-align: center;
    margin-top: -85px;
    color: #D89067 !important;
}



.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.content {
    position: relative;
    margin-top: 350px;
}

#arrow {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}

.center{
    text-align: center;
}