/*General*/

body {
    margin: 0;
    padding: 0;
}


/*Map*/

#map {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
}

.left_sidebar_container {
    z-index: 1;
    position: absolute;
}

.searchbar {
    background: white;
    margin: 10px;
    padding: 10px;
}

.filters {
    background: white;
    margin: 10px;
    padding: 10px;
}

.hide_bullets {
    list-style-type: none;
}

.right_sidebar {
    z-index: 1;
    position: absolute;
    float: right;
    margin: 10px;
    padding: 10px;
    right: 0px;
}

/*Video Page */
#label{
	/*position: absolute;*/
/*	height: 50px;
	width: 500px;*/
	/*margin-top: -150px;*/
	/*margin-right: 5px;*/
	font-family: 'Pacifico';
	font-size: 36px;
/*	vertical-align: middle;
	text-align: center;*/
	color: #A0908C;
}

#video-wheel{
	position: absolute;
	top: 100px;
	left: 350px;
}
.arc{
	position: absolute;
	text-align: center;
 	width:500px; height:100px;  
  	border: solid 100px #000;
 	border-color: #ECE8E0 transparent transparent transparent;
  	-moz-border-radius: 70%/100px 100px 0 0;
  	-webkit-border-radius: 70%/100px 100px 0 0;
  	border-radius: 70%/100px 100px 0 0;
}
#top{
	/*border-color: #F5F4F0 transparent transparent transparent;*/
	/*margin-top: -1px;*/
	/*margin-left: 3px;*/
}
#left{
	/*border-color:#F35B20 transparent transparent transparent;*/
	transform: rotate(270deg);
	margin-left: -300px;
	margin-top: 260px;
}
#bottom{
	/*border-color:#CC0071 transparent transparent transparent;*/
	transform: rotate(180deg);
	margin-top: 500px;
}
#right{
	/*border-color: #FEF200 transparent transparent transparent;*/
	transform: rotate(90deg);
	margin-top: 260px;
	margin-left: 300px;
}

.text{
	position: absolute;
	pointer-events: none;
	font-color: black;
	font-family: Helvetica,Arial;
	font-size: 2em;
	/*z-index: 99;*/
}

#text-top{
	margin-top: -60px;
	margin-left: 80px;
}
#text-left{
	margin-top: -60px;
	margin-left: 80px;
}
#text-bottom{
	transform: rotate(180deg);
	margin-top: -70px;
	margin-left: 110px;
}
#text-right{
	margin-top: -70px;
	margin-left: 100px;
}

.hoverText{
	text-decoration: underline;
}

.hover{
	border-color: #D89067 transparent transparent transparent;
}

#active-video{
	position: absolute;
	margin-left: 300px;
	margin-top: 160px;
	height: 400px;
	width: 600px;
}

.item {
	text-align: center;
	margin-top: 110px;
}

.carousel-caption{
	top: -100px;
	bottom: auto;
	/*margin-top: -200px;*/
	/*margin-left: -100px;*/
}

