/*left sidebar*/
.left_sidebar_container {
    z-index: 1;
    position: absolute;
    width: 200px;
    pointer-events: none;
}

h2{
    margin-top: 0px;
}

.filters {
    background: white;
    margin: 10px;
    padding: 10px;
    pointer-events: all;
}

.hide_bullets {
    list-style-type: none;
}

/*right sidebar*/
.right_sidebar {
    z-index: 1;
    position: absolute;
    float: right;
    margin: 10px;
    padding: 10px;
    right: 0px;
    top: 0px;
    width: 250px;
    pointer-events: none;
    background: white;
}

.performance_list {
    margin-top: 45px;
    background: white;
    padding: 10px;
    visibility: hidden;
}
/*Map search*/

.show {
    display: block !important;
}

.contentM{
    margin-left: 10px;
    margin-right: 10px;
}
.locationAndDate{
    font-weight: bold;
}
#gmap_view{
    height: 100%;
    overflow: hidden;
}
#performance_list{
    background-color: white;
    overflow: scroll;
    pointer-events: all;
}
.italic{
    font-style: italic;
}

label{
    font-weight: normal;
}

.performance:hover{
    background-color: #EEE;
    cursor: pointer;
}

#filter_list, #performance_list{
    display: none;
    border-top: 1px solid gray;
}

#filterclick, #performanceclick{
    font-size: 25px;
    cursor: pointer;
}
#view_performance_list, #view_filter_list {
    pointer-events: all;
    cursor: pointer;        
}
.topSpace{
    margin-top: 10px;
}

@media(max-width: 960px){
     .mainview_title {
        font-size: 150px;
    }

}

@media(max-width: 750px){
    .mainview_title {
        font-size: 100px;
    }
}

@media (max-width: 500px){
   .mainview_title {
        font-size: 50px;
    }
    .right_sidebar{
        display: none;
    }
    .left_sidebar_container {
        width: 175px;
    }
}

.center{
    text-align: center;
}

iframe{
    border: none;
}

#qrcode{
    margin-top: 20px;
}

#gmap_view, #videos_view{
    display: none;
}

#gmap_view{
    position: relative;
}