body {
	margin:50px 0px; padding:0px;
	padding-top: 40px;
	text-align:center;
	background-color: #FFFFFE;
}

.dropdownRow{
	text-align: center;
	margin:50px 0px; padding:0px;
}

.first, .second, .dropdown-menu li{
	font-size: 50px;
}

#gmap_view, #videos_view{
	margin-top: 25px;
}

.in{
	font-size: 50px;
}


#word{
	font-size: 50px;
	margin:0px auto;
	text-align: center;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
	background-color: #F6D4B0;
}

.container{
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px #333;
}
.videoThumb {
    margin-bottom: 25px;
}

.topContainer {
    text-align:center;
}


.item {
    width:100%;
    height:100%;
	border:1px solid #cecece;
    padding:16px 8px;
	background:#ededed;
	background:-webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
	background:-moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
	background:-ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}



footer {
    margin: 50px 0;
}