body {
	margin:50px 0px; padding:0px;
	padding-top: 40px;
	text-align:center;
	background-color: #FFFFFE;
}

/*.first:hover, .first:active, .second:hover, .second:active{
	background-color: #F6D4B0;
}*/

.first, .optionMenu{
	margin-top: -10px;
	left: 200px;
}
.first, .second, .dropdown-menu li{
	font-size: 50px;
}

.second, .cityMenu{
	margin-top: -10px;
	left: -100px;
}


#word{
	font-size: 50px;
	text-align: center;
}
/*.first:hover, .first:active, .second:active, .second:hover, .open>.dropdown-toggle.btn-default{
	background-color: #AF6A49;
	color: white;
}*/

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
	background-color: #F6D4B0;
}

p{
	width: 60px;
	height:60px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 125px;
}

/*.filter:hover{
	background-color: #AF6A49;
	color: white;
}
.filter:active {
	background-color: #AF6A49;
}
*/
.container{
	width:1000px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px #333;
}
.videoThumb {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}