.alert {
  position: fixed;
  left: 50%;
  top: 70px;
}

body {
  padding-top: 70px;
  background-color: #FFFFFE;
}

.bold{
	font-weight: bold;
}

#userinfo input{
	color: white;
	background-color: #A0908C !important; 
	border-color: #A0908C !important;
}

#userinfo input:hover{
  text-decoration: underline;
}

.list-group {
  margin-bottom: 0px;
}

.popover-content {
  padding: 0px;
}

nav{
	margin-bottom: 0px !important;
	position: fixed;
	padding: 0 5%;
}

.main{
	padding: 0 5%;
}

.lobster{
	font-family: 'Lobster', cursive;
	color: #A0908C !important;
	font-size: 50px;
}

.lobster:hover{
	color: #D89067 !important;
}

.large{
	font-size: 90px;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.custom-nav{
	border: none;
}

.proflink{
	padding: 0 15px 0 15px;
}

.search{
	position: relative;
}

.search-icon{
	position: absolute;
	top: 10px;
	right: 5px;
}

.search-bar{
	line-height: 30px;
	min-width: 250px;
}


.half-page{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: center;
	color: #A0908C !important;
}

.half-page:hover{
	cursor: pointer;
	text-decoration: underline;
}

.half-page:hover .main-icon{
	-webkit-filter: none;
	filter: none;
}

.main-icon {
	width:50%;
	margin-bottom: 30px;
	margin-top: 50px;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.btn-primary {
  background-color: #FF8B1B;
  border-color: #CF6F13;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #CF6F13;
  border-color: #CF6F13;
}


@media(max-width: 800px){
    .navbar-brand{
        font-size: 30px;
    }
}

nav{
	box-shadow: 0 2px 1px -1px gray;
}