.bold{
	font-weight: bold;
}


nav{
	margin-bottom: 0px !important;
	background-color: #D89067;
	position: fixed;
}

.lobster-large,.lobster-medium{
	font-family: 'Lobster', cursive;
	font-size: 90px;
	line-height: 50px;
	margin-bottom: 50px;
	color:#d89067 !important;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.lobster-medium{
	font-size: 50px;
}

.lobster-large:hover, .lobster-medium:hover{
	-webkit-filter: none; 
	filter: none;
}

.large{
	font-size: 90px;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.custom-nav{
	background: none;
	border: none;
}

.proflink{
	padding: 0 15px 0 0;
}

body{
	padding: 0 5%;
}

.search{
	position: relative;
	margin-top: 20px;
}

.login{
	margin-top: 20px;
}


.search-icon{
	position: absolute;
	top: 10px;
	right: 5px;
}

.search-bar{
	line-height: 30px;
	min-width: 250px;
}


.half-page{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	text-align: center;
	color: #d89067 !important;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.half-page:hover{
	cursor: pointer;
	background-color: #F5F4F0;
	-webkit-filter: none;
	filter: none;
}

.main-icon {
	width:50%;
	margin-bottom: 30px;
	margin-top: 50px;
}
