.profile-header, .profile-subheader {
  border-bottom: solid 2px darkgrey;
}

.profile-header {
  padding: 1em;
}

.profile-subheader {
  font-size: 18pt;
}

.about-me, .upcoming-performances {
  padding: 1em;
  border-right: solid 2px darkgrey;
  border-bottom: solid 2px darkgrey;
}

.about-me-btn {
  width: 100%;
}

.gallery {
  padding: 1em;
}

ul {
  padding-left: 0px;
}

li {
  font-weight: bold;
}

li div {
  font-weight: normal;
}

.about-me .thumbnail {
  margin-top: 1em;
  margin-left: 0em;
  margin-right: 0em;
}

#quote {
  font-style: italic;
}

#trigger-upload-modal-btn {
  margin-bottom: 1em;
}

#add-performance-btn {
  width: 100%;
}

h2 {
  margin-top: 0px;
}

.gallery .thumbnail {
  position: relative;
}

.gallery img {
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

video {
  width: 100%;
  -webkit-transform-origin: 0 0 0;
}

.gallery video {
  pointer-events: none;
}

.gallery a {
  cursor: pointer;
}

.custom-carousel-control {
  color: #FF8B1B;
}

.custom-carousel-control:hover, .custom-carousel-control:focus {
  color: #CF6F13;
}

.play-btn {
  z-index: 11;
  font-size: 32pt;
  position: absolute;
  top: 45%;
  left: 45%;
  opacity: 0.5;
}

.play-btn:hover {
  opacity: 1;
}

.modal-footer {
  font-size: 16pt;
}

.media-remove-btn {
  z-index: 10;
  position: absolute;
  top: 0px;
  right: 0px;
}
